*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color:rgb(73, 74, 98) ;
}
.father{
  height: 80vh;
  width: 70vw;
  background-color: rgb(33, 37, 149);
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  height: 80%;
}
.h1{
  font-size: 35px;
  color: white;
  
}
.buttons{
  display:flex;
  width: 100%;
  justify-content: space-evenly;
}

.score{
  font-size: 20px;
  margin-top: 80px;
  color: white;
}
.players{
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: space-evenly;
}
.comment{
  color: rgb(77, 255, 0);

}
.finalScore1{
  color: red;
  margin-top: 20px;
}
.player1{
  color: white;
}
.player2{
color: white;
}
#playerscore, #computerScore{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 800;
}
#scissor, #rock, #paper{
  font-size: 75px;
}